.Draftail-block--blockindent {
  margin-left: 3rem;
}

.Draftail-block--doubleindent {
  margin-left: 6rem;
}

.Draftail-block--header-two {
  font-size: 1.2em !important;
}

.Draftail-block--center div {
  text-align: center;
}

.public-DraftStyleDefault-ltr {
  max-width: 815px;
}

.fieldname-year input {
  font-weight: bold;
}

.centered div {
  text-align: center !important;
}

.source .Draftail-block--unstyled{
  font-weight: bold;
  font-size: 1.2em;
}

span.title {
  font-weight: bold;
}

.fieldname-heading input {
  font-weight: bold;
  font-size: 1.5em;
}

.fieldname-subheading input {
  font-weight: bold;
  font-size: 1.3em;
}