.Draftail-block--blockindent {
  margin-left: 3rem;
}

.Draftail-block--doubleindent {
  margin-left: 6rem;
}

.Draftail-block--header-two {
  font-size: 1.2em !important;
}

.fieldname-year_or_kv input {
  font-weight: bold;
}

.centered div{
  text-align: center !important;
}

.source .Draftail-block--unstyled{
  font-weight: bold;
  font-size: 1.2em;
}

.fieldname-heading input {
  
}

span.title {
  font-weight: bold;
}