/* MND */
/* PDF style sheet */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* Page and element styles */
@page {
  size: letter;
  @top-center {
    /* content: element(header) */
    font-family: 'EB Garamond', serif;
    content: element(header-default);
  }
  @bottom-center {
    padding-right: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    content: counter(page);
  }
}

@page :first {
  margin-top: 1.25in;
  margin-bottom: 1.25in;
  @top-center {
    content: element(header-first);
  }
  @bottom-center {
    content: element(footer-first);
    width: 100%;
  }
}

#first-page-header {
  position: running(header-first);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 95%;
}

#first-page-header hr {
  margin-top: 0;
  margin-bottom: 5px;
}

#default-header {
  position: running(header-default);
  font-size: 12px;
}

#first-page-footer {
  position: running(footer-first);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  margin-bottom: 0.5in;
}

#first-page-footer img {
  max-width: 50px;
}

#footer-default {
  position: running(footer-default);
  font-size: 12px;
}

/* General page styles */
body {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

/* h3 is used for section heads */
h3 {    
  break-after: avoid;                 
  font-size: 1.2rem; 
  font-style: italic;
  font-weight: normal;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

hr {
  break-after: avoid;
  max-width: 768px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: darkgrey;
  opacity: 0.5;
}

a {
  text-decoration: none;
}

li {
  break-after: avoid;
}

blockquote {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-left: 3rem;
  max-width: 500px;
  min-width: 500px;
}

sup {
  font-size: 0.7rem;
}

/* Class styles */

.blockindent,
blockquote {
    margin-right: 3rem;
}

.blockindent {
  margin-left: 3rem;
}

.doubleindent {
  margin-left: 6rem !important;
  line-height: 1rem !important;
}

.prelim {
  break-inside: avoid;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.author {
  font-weight: bold;
  font-size: 1.2rem;
}

.source {
  text-align: left;
  font-size: 1rem;
}

blockquote {
  orphans: 3;
}

/* Transcription rows */

.row {
  width: 100%;
  max-width: 800px;
}

.col-a {
  flex: 1;
  min-width: max-content;
  orphans: 3;
}

.col-b {
  flex: 1;
  /* min-width: content; */
  /* border: 1px solid darkgrey; */
}

.col-b img {
  /* width: 100%; */
  max-width: 680px;
  max-height: 900px;
  border: 1px solid darkgrey;
}

.transcription {
  break-after: avoid;
  line-height: 1.2;
}

/* Text */
.text {
  max-width: 700px;
}

.text div {
  line-height: 1.2;
}

.text .col-a p,
.endmatter .col-a p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-left: 3rem;
}

.text .col-b img,
.endmatter .col-b img {
  margin-left: 3rem;
}

.text p {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.2;
}

.annotation {
  font-style: italic;
  break-after: avoid;
}

.centered-text p {
  text-align: center;
  min-width: 678px;
}

.annotation-box,
.left-justified-block {
    display: flex;
    justify-content: center;
}

.annotation-box p {
    flex: 0;
    min-width: 400px;
    border: 4px double #003965;
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
}

.left-justified-block p {
    flex-basis: content;
    font-size: 1.1rem;
    margin-top: 0;
    margin-left: 0;
}

.citation {
  font-size: 1em;
  margin-left: 3rem;
  break-before: avoid;
}

.caption p {
  break-before: avoid;
  margin-top: 0;
  text-align: center;
  font-size: small !important;
}

.credits p {
  line-height: 1.2rem !important;
}

.centered {
  text-align: center;
}

#bibliography, #notes {
  font-size: 1.1rem;
  break-after: avoid;
}

.biblio {
  margin-left: 25px;
  max-width: 90%;
}

/* Internal headings and miscellaneous */

.heading,
.h4 {
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    break-after: avoid;
}

.heading p {
  display: inline-block;
}

/* Avoid page break after page numbers for blockquote */
p:has(+ blockquote) {
  break-after: avoid;
}

.arrow {
  font-family: "'Arial";
}

/* Links */

/* Remove color from reference links */
a[href^="#"]:not(.arrow, #toc + div p a) {
  color: inherit;
}


/* Images */
.block-large_image img,
.source-image img {
    position: relative;
    max-width: 500px;
    height: auto;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.full-width {
    max-width: 600px;
    max-height: 750px;
    margin-top: -10px;
    margin-bottom: -0;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.right,
.small-right {
    margin: 0 0 10px 25px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.small-right {
    float: right;
}

.left,
.small-left {
    width: auto;
    margin: 0 20px 10px 25px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.small-left {
    float: left;
}

.center,
.medium-center {
    flex: 0;
    max-height: 375px;
    margin-bottom: 5px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.small-center {
    flex: 0;
    width: auto;
    /* max-width: 50%; */
    margin-bottom: 5px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.centered-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25px;
}

.centered-images p {
    margin-left: 0;
}

.centered-images img {
    margin-right: 10px;
}

.endmatter .centered-images img {
    margin-bottom: 10px;
}

iframe {
  display: none;
}

/* Table styles */
table {
  margin-bottom: 1rem;
  table-layout: fixed;
  width: max-content;
  max-width: 800px;
}

table, th, td {
  border: 1px solid darkgrey;
  border-collapse: collapse;
  vertical-align: top;
  margin-bottom: 1rem;
}

th {
  background-color: lightgrey;
  text-align: left;
}

td {
  min-width: min-content;
  padding: 1px 4px 4px 5px;
}

tr {
  break-inside: avoid;
}

td>p {
  margin: 0 !important;
  text-align: left;
  font-size: 1rem !important;
}

/* Source and library links */
.links {
  margin-bottom: 1rem;
  /* Hanging indent */
  padding-left: 5rem;
  text-indent: -5rem;
}

.links p {
  display: inline;
}

.links p:not(:first-child) {
  margin-left: 0 !important;
}

/* News Page */

.text h1 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.post-date {
    font-style: italic;
    font-size: 1rem !important;
}

.post-heading {
    font-weight: bold;
}

p:has(+ .row) {
    margin-bottom: -15px;
}

.news {
    max-width: 768px;
    font-size: 1rem;
    line-height: 1.35;
    margin: 0;
}

.news.title {
    font-weight: bold;
}

.news div {
    padding: 0;
}

.news p {
    margin-left: 0;
}

.news:not(.title) {
    margin-bottom: 30px;
}

.col-3 {
    display: inline;
}

.col-9 {
    display: inline;
    position: absolute;
    left: 125px;
}