/***************************/
/* MND custom styles       */
/***************************/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=latin-ext');

/***************************/
/* Page and element styles */
/***************************/
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
    background: #f6f7f6; 
    color: #003965;
    overflow: visible;
}

.alert {
    margin-left: 25px;
    max-width: 768px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-style: italic;
    color: #003965;

}

h1, h2, h3 {
    margin-left: 25px;
}

/* Document title, etc */
h1 {                      
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Document source */
h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Section heads */
h3 {                     
    display: inline;
    font-size: 1.2rem; 
    font-style: italic;
    font-weight: normal;
}

/* Internal headings */
.heading,
.h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

p {
    line-height: 1.7rem;
}

p + hr {
    margin-top: 5px;
}   

.heading p {
    display: inline;
    margin-left: 0 !important;
}

hr {
    max-width: 768px;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

hr.short {
    margin-top: 10px;
}

b {
    font-weight: 700;
}

blockquote {
    line-height: 1.4rem;
    max-width: 650px;
    min-width: 650px;
    margin-left: 3rem;
}

footer {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    font-size: 0.8rem;
}

/*********************/
/* Text class styles */
/*********************/
.frontmatter,
.text,
.endmatter,
.bibliography,
.abbreviation-text {
    max-width: 768px;
}

.transcription p {
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0 0 15px 25px;
}

.row {
    width: 100vw;
    max-width: 923px;
}

.col-a {
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: content; */
    flex: 1;
    min-width: max-content;
    margin-right: 10px;
  }
  
.col-b {
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: content; */
    flex: 1;
  }

.text .col-a p,
.endmatter .col-a p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-left: 3rem;
}

/* Make date column in indexes slightly narrower than normal col-2 */
.chronology.col-2 {
    width: 13%;
    margin-right: 5px;
}

.translation {
    min-width: max-content;
}

.text p {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 1.2rem;
    line-height: 1.35;
}

.text .search {
    font-size: 1rem;
}

.centered-text p {
    text-align: center;
    min-width: 678px;
}

/* Broken as of 2022-01-26 */
.center-paragraph {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 0.5rem;
    line-height: 1;
}

.text .blockindent {
    max-width: 600px;
    font-size: 1.1rem;
    margin-left: 3rem;
}

.endmatter .blockindent {
    max-width: 600px;
    font-size: 1rem;
    margin-left: 3rem;
}

.indent {
    margin-left: 4rem;   
}

.doubleindent {
    margin-left: 6rem !important;
    line-height: 1rem !important;
}

.news + p {
    margin-bottom: 0;
}

.abbreviation-heading {
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

.abbreviation-subheading {
    margin-left: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.abbreviation {
    margin-left: 25px;
}

.abbreviation p {
    margin-bottom: 10px;
}

.abbreviation-text {
    margin-left: 50px;
}

.citation {
    margin-left: 3rem !important;
}

.biblio {
    margin-left: 25px;
    max-width: 718px;
}

.post-date {
    font-style: italic;
    font-size: 1rem !important;
}

.post-heading {
    font-weight: bold;
}

.post-description {
    margin-left: 75px !important;
}

.index-page {
    max-width: 768px;
}

.index-page p {
    margin-bottom: 10px;
}

.index-page + h2,
.listing + h2 {
    margin-bottom: 0;
}

.k-page h2 {
    margin-top: 8px;
}

.listing {
    /* min-width: 600px; */
    max-width: 768px;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    line-height: 1.4;
}

.caption p {
    margin-top: 0;
    text-align: center;
    font-size: 1rem;
}

.annotation-box,
.left-justified-block {
    display: flex;
    justify-content: center;
}

.annotation-box p {
    flex: 0;
    min-width: 400px;
    border: 4px double #003965;
    font-size: 1rem;
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
}

.left-justified-block p {
    flex-basis: content;
    font-size: 1.1rem !important;
    margin-top: 0;
    margin-left: 0;
}

.listing p,
.listing div {
    font-size: 1rem;
}

.date {
    display: inline-block;
    text-align: right;
}

.pdf_link {
    float: right;
}

.endmatter p {
    max-width: 768px;
    margin-left: 25px;
    line-height: 1.4;
}

.endmatter {
    width: auto;
    font-size: 1rem;
    color: #003965;
}

.credits p {
    line-height: 1.2rem !important;
}

/* For larger size at beginning of paragraph */
.paragraph-lede {           
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}

.annotation, 
.pager {
    font-style: italic;
    font-size: 1rem !important;
    text-indent: 0;
    margin: 25px;
}

.news {
    max-width: 768px;
    margin-left: 25px;
    font-size: 1.2rem;
    line-height: 1.35;
}

.news.title {
    font-weight: bold;
}

.news div {
    padding: 0;
}

.news p {
    margin-left: 0;
}

/* Creative Commons License */
.CCL {
    padding-bottom: 10px;
}

/******************/
/* Text ID styles */
/******************/

#title {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-style: italic;
    color: #003965;
    margin-top: -140px;
    margin-left: 30px;
    font-size: 52px;
    position: absolute;
}

#attribution {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-style: italic;
    color: #003965;
    margin-top: -75px;
    margin-left: 70px;
    font-size: 28px;
    position: absolute;
}

/* "Updated" dates on top-level pages */
#updated {                 
    font-size: 0.95rem;
    font-style: italic;
    text-align: right;
}

#content {
    width: calc(100%-200px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 200px;
}

#bibliography, #notes {
    font-size: 1.2rem;
}

#site-credit {
    font-size: 0.75rem;
    font-style: italic;
    padding: 10px 0;
}

/**************************/
/* Links, buttons, arrows */
/**************************/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}

p a:link, 
blockquote a:link,
span a:link,
.date>a:link,
.news a:link,
.menu a:link,
.document-title a:link {
    text-decoration: none;
    color: #0046c9 !important;
}

p a:visited, 
blockquote a:visited,
span a:visited,
.date>a:visited,
.news a:visited,
.menu a:visited,
.document-title a:visited {
    color: #8229cb !important;
}

#top {
    color: #0046c9;
    position: fixed;
    top: 75%;
    right: 40px;
}

.links {
    margin-bottom: 1rem;
    /* Hanging indent */
    padding-left: 5rem;
    text-indent: -5rem;
}

.links p {
    display: inline;
}

.links p:not(:first-child) {
    margin-left: 0 !important;
}

.heading a {
    color: #004ddd;
    white-space: nowrap !important;
}


button {
    margin-left: -200px;
}

.btn {
    box-shadow: none !important;
    outline: none !important;
    border: none;
    padding: 0.25rem 0.25rem;
}

.btn-outline-dark:hover {
    background-color: #dfe4df;
    color: #003965;
}

.arrow {
    font-size: 2rem;
    color: #003965;
    opacity: 50%;
    max-width: 900px;
  }

/* .arrow a:hover {
    color: #a04600;
} */

.arrow-left,
.arrow-right {
    /* border: 1px solid red; */
    position: fixed;
    top: 50vh;
}

.arrow-left {
    left: 202px;
}
    
.arrow-right {
    left: min(95%, 1100px);
}

.donate {
    margin-top: 0;
    margin-left: 54px;
    margin-bottom: 75px;
}

/****************/
/* Image styles */
/****************/
img {
    max-width: 100%;      /* For responsive size */
    height: auto;
}

.logo {
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 25px;
}

.logo img {
    border: 1px solid #ddd;
    position: relative;
    width: 100%; 
    max-width: 768px;
}

.block-large_image img,
.source-image img {
    position: relative;
    max-width: 768px;
    height: auto;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.full-width {
    flex-shrink: 0;
    flex-basis: content;
    margin-top: -10px;
    margin-bottom: -15px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.right,
.small-right {
    margin: 0 0 10px 25px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.small-right {
    float: right;
}

.left,
.small-left {
    width: auto;
    margin: 0 20px 10px 25px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.small-left {
    float: left;
}

.center,
.medium-center {
    margin-bottom: 5px;
}

.small-center {
    flex: 0;
    width: auto;
    /* max-width: 50%; */
    margin-bottom: 5px;
    border-style: solid;   
    border-width: 1px;   
    border-color: #ccc;
}

.centered-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25px;
}

.centered-images p {
    margin-left: 0;
}

.centered-images img {
    margin-right: 10px;
}

.endmatter .centered-images img {
    margin-bottom: 10px;
}

.news-image .centered-images,
.post-image .centered-images {
    margin-left: 0 !important;
}

.post-image img,
.news-image img {
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.post-image {
    margin-left: 25px;
}

.news-image {
    margin-left: 75px !important;
}

/****************/
/* Table styles */
/****************/

table {
    margin-left: 25px;
    margin-bottom: 1rem;
    table-layout: fixed;
    width: max-content;
    max-width: 800px;
}

table, th, td {
    border: 1px solid #003965;
    vertical-align: top;
}

th {
    background-color: lightgrey;
    text-align: left;
}

td {
    min-width: min-content;
    padding: 1px 4px 4px 5px;
}

td>p {
    margin: 0 !important;
    text-align: left;
    font-size: 1rem !important;
}

/******************/
/* Sidebar styles */
/******************/
.wrapper {
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #f6f7f6;
    color:  #003965;
    transition: width 0.3s;
}

#sidebar .sidebar-header {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    font-style: italic;
    color: #003965;
    padding: 20px 10px 10px 27px;
}

#sidebar ul {
    margin-bottom: 0;
}

#sidebar .components {
    padding: 5px 10px 10px 23px;
}

#sidebar ul a,
#sidebar p a,
#sidebar span {
    padding: 9px 10px 11px 10px;
    border-radius: 4px;
    line-height: 0.6;
    display: block;
}

#sidebar span {
    font-style: italic;
}

#sidebar ul li a:hover {
    color: #f6f7f6;
    background: #003965;
}

#sidebar a.active,
a[aria-expanded="true"] { 
    color: #003965;
    font-weight: bold;
    background: #f6f7f6;
}

#sidebar ul ul li a {
    font-size: 0.9rem !important;
    padding-left: 25px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9rem !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#admin {
    margin-top: 30px;
    margin-left: 33px;
    font-size: 0.9rem !important;
}

/*******************/
/* Categories Menu */
/*******************/
.menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li.koechel {
    text-decoration: none !important;
    font-style: italic;
}

.menu li {
    flex: 0;
    flex-basis: content;
    justify-content: space-evenly;
    padding: 5px;
    text-decoration: underline;
}

/******************/
/* Popover styles */
/******************/
a.reference {
    position: relative;
    white-space: nowrap;
    border-bottom: 1px dotted;
}

.popover {
    background-color: #eef0ee;
}

.popover-body {
    font-size: 0.8rem;
    color: #003965;
    padding: 8px 10px;
}

.popover-arrow::before,
.popover-arrow::after {
    border-top-color: #ccc !important;
    border-bottom-color: #ccc !important;
}

.popover-content a {
    color: #003fb6;
}

.popover-content a:visited {
    color: #6d22aa;
}

/*****************/
/* MEDIAQUERIES  */
/*****************/

@media (max-width: 768px) { 
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
      }
    
    html {
        height: -webkit-fill-available;
      }
    
    button {
        position: fixed;
        top: 4px;
        margin-left: 0;
        z-index: 999;
    }

    button.open {
        margin-left: 0;
    }

    #sidebar {
        margin-left: -200px;
    }

    #sidebar.open {
        margin-left: 0;
    }
    #content {
        width: 100%;
        left: 0;
    }

    /* #content.open {
        width: calc(100%-200px);
    } */
    
    #sidebarCollapse span {
        display: none;
    }

    .right,
    .left,
    .center {
        display: flex;
        float: none;
    }

    .arrow-left {
        left: 2px;
    }

    .arrow-right {
        left: 95vw;
    }
}

@media (max-width: 600px) {
    .right,
    .left,
    .center {
        flex: 0;
        justify-content: center;
        align-items: center;
    }

    .center-paragraph {
        min-width: 600px;
    }

    .popover-body {
        font-size: 0.9rem;
    }
    
    .post-description {
        margin-left: 25px  !important;
    }

    .smallcenter {
        max-width: 100%;
    }

    .centered-images {
        margin-left: 0;
    }
    
    .news-image {
        margin-left: 25px !important;
    }

    .arrow-right {
        left: 100vw;
    }

}

/* Customization of Wagtail userbar */
.wagtail-userbar-trigger {
    box-shadow: none !important;
    background-color: transparent !important;
    border-width: thin !important;
    border-color: rgb(204, 204,204) !important;
}

/********************/
/* follow.it styles */
/********************/

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin: 0 auto;
    padding: clamp(17px, 5%, 20px) clamp(17px, 7%, 30px) !important;
    max-width: 40% !important;
    border-radius: 6px !important;
    box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25) !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview *{
    box-sizing: border-box !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
    width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
    margin-top: 10px !important;
    width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
    width: 100% !important;
    height: 30px !important;
    border-radius: 6px !important;
    border: 2px solid #e9e8e8 !important;
    background-color: #fff !important;
    outline: none !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
    color: #003965 !important;
    /* font-family: "PT Sans" !important; */
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    text-align: center !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
    color: #003965 !important;
    opacity: 1 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
    color: #003965 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
    color: #003965 !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
    margin-top: 10px !important;
    /* margin-left: 200px !important; */
    width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
    width: 100% !important;
    height: 30px !important;
    border: 0 !important;
    border-radius: 6px !important;
    line-height: 0px !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
    cursor: pointer !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
    color: #231f20 !important;
    /* font-family: "PT Sans" !important; */
    font-size: .75rem !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: flex !important;
    width: 50% !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 10px auto !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
    margin-left: 10px !important;
    height: 1.13em !important;
    max-height: 1.13em !important;
}

@media (max-width: 768px) {
    .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
        margin-top: 10px !important;
        margin-left: 0 !important;
        width: 100% !important;
        z-index: 0;
    }
}

/* Deprecated Fonts */

/* @import url('https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i&amp;subset=latin-ext'); */

/* @import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */