{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% load static %}

{% block content %}
    <div class="text index-page">
        <h1>{{ page.title }}</h1>
        <ul id="menu" class="menu" >
            <li><a href="#biography">Biography</a></li>
            <li><a href="#reception">Reception</a></li>
            <li><a href="#publication">Publication</a></li>
            <li><a href="#advertisement">Advertisements</a></li>
            <li><a href="#literature">Mozart in Literature</a></li>
            <li><a href="#addenda">Addenda</a></li>
            <li><a href="#corrigenda">Corrigenda</a></li>
        </ul>
        <div class=heading id="biography">Biography (<a href='#menu'>⇧)</a></div>
            {% for doc in biography%}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <div class=heading id="reception">Reception (<a href='#menu'>⇧)</div>
            {% for doc in reception %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <div class=heading id="publication">Publication (<a href='#menu'>⇧)</div>
            {% for doc in publication %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <div class=heading id="advertisement">Advertisements (<a href='#menu'>⇧)</div>
            {% for doc in advertisement %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <div class=heading id="literature">Mozart in Literature (<a href='#menu'>⇧)</div>
            {% for doc in literature %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <div class=heading id="addenda">Addenda (<a href='#menu'>⇧)</div>
            {% for doc in addenda %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <div class=heading id="corrigenda">Corrigenda (<a href='#menu'>⇧)</div>
            {% for doc in corrigenda %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
    </div>

{% endblock content %}