{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% load static %}

{% block content %}
    <div class="text index-page">
        <h1>{{ page.title }}</h1>
        <ul id="menu" class="menu" >
            <li><a href="#biography">Biography</a></li>
            <li><a href="#reception">Reception</a></li>
            <li><a href="#publication">Publication</a></li>
            <li><a href="#advertisement">Advertisements</a></li>
            <li><a href="#literature">Mozart in Literature</a></li>
            <li><a href="#addenda">Addenda</a></li>
            <li><a href="#corrigenda">Corrigenda</a></li>
        </ul>
        <h4 id="biography">Biography (<a href='#menu'>⇧)</a></h4>
            {% for doc in biography%}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <h4 id="reception">Reception (<a href='#menu'>⇧)</h4>
            {% for doc in reception %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <h4 id="publication">Publication (<a href='#menu'>⇧)</h4>
            {% for doc in publication %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <h4 id="advertisement">Advertisements (<a href='#menu'>⇧)</h4>
            {% for doc in advertisement %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <h4 id="literature">Mozart in Literature (<a href='#menu'>⇧)</h4>
            {% for doc in literature %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <h4 id="addenda">Addenda (<a href='#menu'>⇧)</h4>
            {% for doc in addenda %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
        <h4 id="corridgenda">Corrigenda (<a href='#menu'>⇧)</h4>
            {% for doc in addenda %}
                <div class="row listing">
                    <div class="col-2 date"><a href="{{ doc.url }}">{{ doc.display_date }}</a></div>
                    <div class="col-7">{{doc.clean_title|safe }}</div>
                </div>
            {% endfor %}
    </div>
    {% comment %} <!-- Previous and Next arrows -->
        <div class="arrow" id="arrow-left">  
            {% if page.prev %}
                <a href="{{ page.prev }}">
                    <i class="bi-chevron-left"></i>
                </a>
            {% endif %}
        
        </div> 
        <div class="arrow" id="arrow-right">
            {% if page.next %}
                <a href="{{ page.next }}">
                    <i class="bi-chevron-right"></i>
                </a>
            {% endif %} 
        </div> {% endcomment %}

{% endblock content %}