{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% load static %}

{% block content %}
    <div class="text">
        <h1>{{ page.title }}</h1>
        {% for kv in koechel_numbers %}
            <div class="row index-page">
                <h2>K. {{ kv.koechel_display }}{% if kv.koechel_alternate %} ({{ kv.koechel_alternate }}){% endif %}. {{ kv.clean_title|safe }}</h2>
                {% for doc in kv.get_usage%}
                    <div class="listing">
                        <p class="k-index"><a href="{{ doc.specific.url }}">{{ doc.specific.display_date }}</a>. {{ doc.specific.clean_title|safe }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %} 
        
        <!-- Previous and Next arrows -->
        <div class="arrow" id="arrow-left">  
            {% if page.prev %}
                <a href="{{ page.prev }}">
                    <i class="bi-chevron-left"></i>
                </a>
            {% endif %}
        
        </div> 
        <div class="arrow" id="arrow-right">
            {% if page.next %}
                <a href="{{ page.next }}">
                    <i class="bi-chevron-right"></i>
                </a>
            {% endif %} 
        </div>    
    </div>


{% endblock content %}