{% extends override_base|default:'base.html' %}
{% load wagtailcore_tags %}

{% load static %}

{% block content %}
    <div class="text">
        <h1>{{ page.title }}</h1>
        <h1>{{ page.clean_title|safe }}</h1>
        <h2>{{ page.clean_source|safe }}</h2>
        <div class="row document">
            <div class="col-6">
                <div class="transcription">
                    {{ page.transcription|safe }}
                </div>
            </div>
            <div class="col">
                {% comment %} <div> {% endcomment %}
                    {% include_block page.source_image %}
                {% comment %} </div> {% endcomment %}
            </div>
        </div>
        {% if page.translation %}
            <p class="annotation">[translation:]</p><br>
            <div class="transcription">
                {{ page.translation|safe }}
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="text">
        <h3>Commentary</h3>
        <span class="pdf_link">(<a href="{{page.url_pdf}}">pdf</a>)</span>
        {% for block in page.commentary %}
            {% include_block block %}
        {% endfor %}
    </div>
    <div class="endmatter">
        {% if page.notes %} 
            <hr>
            <p id="notes"><em>Notes</em></p>
            {% for block in page.notes %}
                {% include_block block %}
            {% endfor %}
        {% endif %}
        {% if page.bibliography %} 
            <hr>
            <p id="bibliography"><em>Bibliography</em></p>  
            <div class="bibliography">
                {{ page.bibliography|richtext }} 
            </div>
        {% endif %}
        <hr>
        <div class="credits">
            <p><em>Credit</em>: {{ page.credit }}</p>
            <p><em>{{ author_heading }}</em>: {{ author_names }}
            </p>
            <div class="links">
                <p><em>Link(s)</em>:
                    {{ page.source_link|richtext }}
                </p>
            </div>
            <p><em>Search Term</em>: {{ page.search_term }}</p>
                
            <div class="links">
                <p><em>Source Library</em>: {{ page.source_library|richtext }}
                </p>
            </div> 
            <p><em>Categories</em>: 
                {% for cat in self.categories.all %}
                    {{ cat.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><em>First Published</em>: {{ page.first_published|date:'D, j M Y' }}</p>
            {% if page.updated %}
                <p><em>Updated</em>: {{ page.updated|date:'D, j M Y' }}</p>
            {% endif %}
            <hr>
        </div>
        <div>
            <p><em>Print Citation</em>:</p>
                <p class="citation">{{ citation_names }}. {{ page.first_published|date:'Y' }}. &ldquo;{{ page.clean_title|safe }} ({{ page.display_date }}).&rdquo; In: <em>Mozart: New Documents</em>, edited by Dexter Edge and David Black.<br> First published {{ page.first_published|date:'j M Y'}}{% if page.updated %}; updated {{ page.updated|date:'j M Y' }}{% endif %}. https://doi.org/10.7302/Z20P0WXJ
                </p>
            <p><em>Web Citation</em>:</p>
                <p class="citation">{{ citation_names }}. {{ page.first_published|date:'Y' }}. &ldquo;{{ page.clean_title|safe }} ({{ page.display_date }}).&rdquo; In: <a href="https://doi.org/10.7302/Z20P0WXJ"><em>Mozart: New Documents</em></a>, edited by Dexter Edge and David Black.<br> First published {{ page.first_published|date:'j M Y'}}{% if page.updated %}; updated {{ page.updated|date:'j M Y' }}{% endif %}. [<a href="{{pageurl}}">direct link</a>]
                </p>
        </div> 
        <!-- Previous and Next arrows -->
        <div class="arrow" id="arrow-left">  
            {% if page.prev %}
                <a href="{{ page.prev }}">
                    <i class="bi-chevron-left"></i>
                </a>
            {% endif %}
        
        </div> 
        <div class="arrow" id="arrow-right">
            {% if page.next %}
                <a href="{{ page.next }}">
                    <i class="bi-chevron-right"></i>
                </a>
            {% endif %} 
        </div>
    </div>
      
{% endblock content %}