{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags document_tags %}

{% block content %}
    <div class="text">
        <div class="row index-page">
            <div class="col-8">
                <h1>Chronological Index: {{ range|safe }}</h1>
                <h2>({{ documents|length }} documents)</h2>
            </div>
        </div>
        {% with documents.first.year as current_year %}
            <h2>{{ current_year }}</h2>
            {% for result in documents %}
                {% if current_year != result.year %}
                    {% new_year result.year as current_year %}
                    <h2>{{ current_year }}</h2>
                {% endif %}
                <div class="row listing">
                    {% if result.specific.index_date %}
                        <div class="date chronology col-2">
                            <a href="{% pageurl result %}">{{ result.specific.index_date }}</a>
                        </div> 
                        <div class="col-8">
                            {{ result.specific.clean_title|safe}}
                        </div>
                    {% else %}
                        <div class="date chronology col-2">———</div>
                        <div class="col-8 document-title">
                            <a href="{% pageurl result %}">{{ result.specific.clean_title|safe}}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock content %}