{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags document_tags %}

{% block content %}
    <div class="text">
        <div class="row index-page">
            <div class="col-8">
                <h1>Chronological Index: {{ range|safe }}</h1>
            </div>
        </div>
        {% with documents.first.year as current_year %}
            <h2>{{ current_year }}</h2>
            {% for result in documents %}
                {% if current_year != result.year %}
                    {% new_year result.year as current_year %}
                    <h2>{{ current_year }}</h2>
                {% endif %}
                <div class="listing">
                    {% if result.specific.index_date %}
                        <p class="k-index"><a href="{% pageurl result %}">{{ result.specific.index_date }}</a>. {{ result.specific.clean_title|safe}}</p>
                    {% else %}
                        <p class="k-index"><a href="{% pageurl result %}">{{ result.specific.clean_title|safe}}</a></p>
                    
                    {% endif %}
                </div>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock content %}