{% load static wagtailcore_tags %}
{% load wagtailimages_tags%}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
    </title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/pdf_style.css' %}">
</head>
<body>
    {% comment %} <div class="header">{{author_surnames}}, &ldquo;{{ page.clean_title|safe }}&nbsp;({{ page.display_date }}).&rdquo; <span style = "white-space: nowrap">[<i>Printed: {{today}}</span></i>]<hr></div> {% endcomment %}
    <div id="first-page-header">
        <hr>
        <p>Citation: <span style="float:right"><i>Printed: {{today}}</i></span>
        </p>
        <p style="margin-left: 40px">{{ citation_names }}. {{ page.first_published|date:'Y' }}. &ldquo;{{ page.clean_title|safe }} ({{ page.display_date }}).&rdquo; In: <a href="https://doi.org/10.7302/Z20P0WXJ"><em>Mozart: New Documents</em></a>, edited by Dexter Edge and David Black. First published {{ page.first_published|date:'j M Y'}}{% if page.updated %}; updated {{ page.updated|date:'j M Y' }}{% endif %}. [<a href="{{page.url}}">direct link</a>]</p><hr>
    </div>
    <div id="default-header">
        <p>{{author_surnames}}, &ldquo;{{ page.clean_title|safe }}&nbsp;({{ page.display_date }}).&rdquo;</p>
    </div>
    <div id="first-page-footer">
        <!-- Creative Commons License -->
        <hr>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img class="CCL" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a><br>
        <em><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Mozart: New Documents</span></em> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://dx.doi.org/10.7302/Z20P0WXJ" property="cc:attributionName" rel="cc:attributionURL">Dexter Edge &amp; David Black</a><br>is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
    </div>

    <div class="prelim">
        <h1 class="title centered">{{ page.clean_title|safe }} ({{ page.display_date }})</h1>
        <p class="author centered">{{ author_names }}</p>
        <h2>{{ page.clean_source|safe }}</h2>
    </div>
    <div>
        {% for block in page.transcription %}
            {% include_block block %}
        {% endfor %}
    </div>
    {% if page.translation %}
        <p class="annotation">[translation:]</p>
        <div class="transcription">
            {{ page.translation|safe }}
        </div>
    {% endif %}
    <div class="text">
        <hr>
        <h3>Commentary</h3>
        {% for block in page.commentary %}
            {% include_block block %}
        {% endfor %}
    </div>
    <div class="endmatter">
        {% if page.notes %}
            <hr>
            <p id="notes"><em>Notes</em>
                <span>{% if not self.link_id == "toc" %}(<a class="arrow" href="#toc">&#8679;</a>){% endif %}</span>
            </p>
            {% for block in page.notes %}
                {% include_block block %}
            {% endfor %}
        {% endif %}
        {% if page.bibliography %} 
            <hr>
            <p id="bibliography"><em>Bibliography</em>
                <span>{% if not self.link_id == "toc" %}(<a class="arrow" href="#toc">&#8679;</a>){% endif %}</span>
            </p>  
            {% for block in page.bibliography %}
                {% include_block block %}
            {% endfor %}
        {% endif %}
        <hr>
        <div class="credits">
            <p><em>Credit</em>: {{ page.credit }}</p>
            <p><em>{{ author_heading }}</em>:
                {% for author in authors %}
                    <a href="{% url 'author' author.author.id %}">{{ author.author.full_name }}</a>{% if not forloop.last %}, {% endif %}

                {% endfor %}
            </p>
            <div class="links">
                <p><em>Link(s)</em>:
                    {{ page.source_link|richtext }}
                </p>
            </div>
            <p><em>Search Term</em>: {{ page.search_term }}</p>
    
            <div class="links">
                <p><em>Source Library</em>: {{ page.source_library|richtext }}
                </p>
            </div>
            <p><em>Categories</em>:
                {% for cat in page.categories.all %}
                    {{ cat.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><em>First Published</em>: {{ page.first_published|date:'D, j M Y' }}</p>
            {% if page.updated %}
                <p><em>Updated</em>: {{ page.updated|date:'D, j M Y' }}</p>
            {% endif %}
            <hr style="margin-top:2rem">
            <p><em>Citation</em>:</p>
            <p class="citation">{{ citation_names }}. {{ page.first_published|date:'Y' }}. &ldquo;{{ page.clean_title|safe }} ({{ page.display_date }}).&rdquo; In: <a href="https://doi.org/10.7302/Z20P0WXJ"><em>Mozart: New Documents</em></a>, edited by Dexter Edge and David Black. First published {{ page.first_published|date:'j M Y'}}{% if page.updated %}; updated {{ page.updated|date:'j M Y' }}{% endif %}. [<a href="{{page.url}}">direct link</a>]
            </p>
        </div>
    </div>
</body>
</html>