{% extends override_base|default:'base.html' %}
{% load wagtailcore_tags %}

{% load static %}

{% block content %}
    <div class="frontmatter">
        <h1>{{ page.title }}</h1>
        <h1>{{ page.clean_title|safe }}</h1>
        {% if page.source %}
            <h2>{{ page.clean_source|safe }}</h2>
        {% endif %}
    </div>
    <div class="transcription">
        {% for block in page.transcription %}
            {% include_block block %}
        {% endfor %}
    </div>
    {% if page.commentary %}
    <hr>
        <div class="text">
            <h3>Commentary</h3>
            {% for block in page.commentary %}
                {% include_block block %}
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    <div class="endmatter">
        <div class="credits">
            <p><em>First Published</em>: {{ page.first_published|date:'D, j M Y' }}</p>
            {% if page.updated %}
                <p><em>Updated</em>: {{ page.updated|date:'D, j M Y' }}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}